.tsh {
    color: red;
    margin-left: 100px;
}

.lr {
    width: 500px;

    text-align: center;
    margin-top: 20px;
    margin-left: 150px;
}

.lr div {
    border-bottom: solid 1px gray;
}

.lr span {

    display: inline-block;
    width: 100px;
    height: 40px;

    line-height: 40px;
    text-align: left;
    font-family: "宋体";

}
